.container-hero {
    width: 100%;
    background-color: red;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-hero h4 {
    color: white;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .container-hero h4 {
        margin-left: 5px;
        font-size: 16px;
    }
  }