.container-hero {
    width: 100%;
    background-color: red;
    height: 50px;
    display: flex;
    align-items: center;
}

.container-hero h3 {
    color: white;
    margin-left: 40%;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .container-hero h3 {
        margin-left: 5px;
    }
  }