.mapa {
    width: 100%;
    height: 83vh;
}

.mapa .alert {
    animation: alert 4s ease 0s infinite normal forwards;
}

@keyframes alert {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

.mapa .alert2 {
    animation: alert 3s ease 1s infinite normal forwards;
}

@keyframes alert {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

@media (max-width: 600px) {
    .mapa {
		height: 73vh;
	}
  }